[submodule "module/dic_converter"]
	path = module/dic_converter
	url = https://github.com/SeohaSong/dic_converter.git
[submodule "module/aws_handler"]
	path = module/aws_handler
	url = https://github.com/SeohaSong/aws_handler.git
